<html><head><style class="vjs-styles-defaults">
  .video-js {
    width: 300px;
    height: 150px;
  }

  .vjs-fluid {
    padding-top: 56.25%
  }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>中呈大学｜在线学习平台</title>
<meta name="keywords" content="58职教、五八职教、学习平台、在线学习、能力提升、教育">
<meta name="description" content="58职教为人力资源社会保障部推荐的技能培训线上平台，主要涉及汽车、生活服务、房地产、信息化服务领域；主要有二手车鉴定评估师、母婴护理、保育员、家政服务员、房产经纪人、58同镇站长互联网能力提升等10个以上职业（工种/岗位）技能。">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta content="always" name="referrer">
<link rel="icon" href="//pic1.xsd.cdn.com.cn/wubacollege/n_v2f4622601289d4763b44d503ee84a4f8e.png">
<link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
<![endif]-->
<script src="//pingjs.qq.com/h5/stats.js?v2.0.4" name="MTAH5" sid="500729845" cid="500729846"></script><script src="//pingjs.qq.com/h5/stats.js?v2.0.4" name="MTAH5" sid="500729845" cid="500729846"></script><script src="//imgcache.qq.com/open/qcloud/video/tcplayer/libs/hls.min.0.12.4.js"></script>
<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
<link href="//c.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/css/app_v20211213151926.css" rel="stylesheet">
        <!-- iframe直播  -->
<script src="//static.csslcloud.net/js/_fix_.js"></script>
<script>
    var _mtac = {"senseHash":0,"autoReport":0};
    (function() {
        var mta = document.createElement("script");
        mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
        mta.setAttribute("name", "MTAH5");
        mta.setAttribute("sid", "500729845");
        mta.setAttribute("cid", "500729846");
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(mta, s);
    })();
</script>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/wmda/js/statistic_v20180524171549.js"></script>
<script>
    var _trackURL = "{'area':'1','pagetype':'index', key: 'step_2s_kidy1gfc'}";
</script>
<script src="//tracklog.xsd..com/referrer4.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/0.c680ce.js"></script><script type="text/javascript" charset="utf-8" async="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/7.3c82cf.js"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><script type="text/javascript" src="//j1.xsd.cdn.com.cn/resource/xxzl/realnametz/xxzltz.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/xxzl/certifySDK/index.js?version=1637738240746"></script><link href="//c.xsd.cdn.com.cn/git/teg-app-fe/passport-sdk-pc/static/css/yzh_sdk.css?v=1639451590230" rel="stylesheet"><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/passport-thdlib/v1/ppt_securitye.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/passport-mapp/userDataReport/rpdata.buddle.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/passport-thdlib/v1/passport_fingerprint2.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/passport-thdlib/v1/ppfingerprint.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/resource/xxzl/captcha/js/isd_captcha.js?version=1639411200000"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-pc-ui/js/passport/securityGuide_pop.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-sdk-pc/static/js/mobileLogin.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-pc-ui/js/passport/guideInit_pop.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-pc-ui/js/passport/guideUrl_pop.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><script type="text/javascript" src="//res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/passport-thdlib/v1/gt_captcha.js?version=1639364971943"></script><script type="text/javascript" src="//res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js?version=1639364971943"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><style>.yzh-image-validate-wrapper {
position: relative;
width: 100%;
}

.yzh-image-validate-wrapper > input {
border: 2px solid #ebebeb;
width: 100%;
height: 36px;
padding-right: 110px;
padding-left: 15px;
box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
width: 80px;
height: 32px;
position: absolute;
right: 4px;
top: 2px;
cursor: pointer;
}

.yzh-image-validate-wrapper > p {
color: #ff552e;
margin-top: 10px;
}

.yzh-img-modal-wrapper {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
position: fixed;
top: 40%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
background-color: #fff;
width: auto;
border-radius: 3px;
overflow: hidden;
backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
padding: 30px 0 20px;
text-align: center;
font-size: 20px;
color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
padding: 0 20px 20px;
border-bottom: 1px solid #f3f3f3;
width: 300px;
overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
padding: 10px 0 20px;
white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
font-size: 16px;
display: inline-block;
text-align: center;
width: 50%;
cursor: pointer;
font-weight: 500;
}
.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> .single-confirm-btn {
width: 100%;
color: #ff552e;
}

.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> div.confirm-btn {
color: #ff552e;
}
</style><style>.yzh-image-validate-wrapper {
position: relative;
width: 100%;
}

.yzh-image-validate-wrapper > input {
border: 2px solid #ebebeb;
width: 100%;
height: 36px;
padding-right: 110px;
padding-left: 15px;
box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
width: 80px;
height: 32px;
position: absolute;
right: 4px;
top: 2px;
cursor: pointer;
}

.yzh-image-validate-wrapper > p {
color: #ff552e;
margin-top: 10px;
}

.yzh-img-modal-wrapper {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
position: fixed;
top: 40%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
background-color: #fff;
width: auto;
border-radius: 3px;
overflow: hidden;
backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
padding: 30px 0 20px;
text-align: center;
font-size: 20px;
color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
padding: 0 20px 20px;
border-bottom: 1px solid #f3f3f3;
width: 300px;
overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
padding: 10px 0 20px;
white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
font-size: 16px;
display: inline-block;
text-align: center;
width: 50%;
cursor: pointer;
font-weight: 500;
}
.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> .single-confirm-btn {
width: 100%;
color: #ff552e;
}

.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> div.confirm-btn {
color: #ff552e;
}
</style><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><style>.yzh-image-validate-wrapper {
position: relative;
width: 100%;
}

.yzh-image-validate-wrapper > input {
border: 2px solid #ebebeb;
width: 100%;
height: 36px;
padding-right: 110px;
padding-left: 15px;
box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
width: 80px;
height: 32px;
position: absolute;
right: 4px;
top: 2px;
cursor: pointer;
}

.yzh-image-validate-wrapper > p {
color: #ff552e;
margin-top: 10px;
}

.yzh-img-modal-wrapper {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
position: fixed;
top: 40%;
left: 50%;
transform: translate3d(-50%, -50%, 0);
background-color: #fff;
width: auto;
border-radius: 3px;
overflow: hidden;
backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
padding: 30px 0 20px;
text-align: center;
font-size: 20px;
color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
padding: 0 20px 20px;
border-bottom: 1px solid #f3f3f3;
width: 300px;
overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
padding: 10px 0 20px;
white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
font-size: 16px;
display: inline-block;
text-align: center;
width: 50%;
cursor: pointer;
font-weight: 500;
}
.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> .single-confirm-btn {
width: 100%;
color: #ff552e;
}

.yzh-img-modal-wrapper
> .yzh-img-modal-pnl
> .yzh-img-modal-footer
> div.confirm-btn {
color: #ff552e;
}
</style><script type="text/javascript" charset="utf-8" async="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/38.face26.js"></script><script type="text/javascript" charset="utf-8" async="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/9.2a3c47.js"></script><script type="text/javascript" charset="utf-8" async="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/5.d39776.js"></script><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><link href="//c.xsd.cdn.com.cn/git/teg-app-fe/passport-sdk-pc/static/css/yzh_sdk.css?v=1639451949133" rel="stylesheet"><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-pc-ui/js/passport/challenge_pop.js?version=1636943798093"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/resource/xxzl/realnametz/xxzltz.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/xxzl/certifySDK/index.js?version=1637738240746"></script><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style><script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/vueproj-pc/sdklib/imageValidateCom/yzhImageValidateCom.min.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/resource/xxzl/realnametz/xxzltz.js?version=1637738240746"></script><script type="text/javascript" src="//j1.xsd.cdn.com.cn/xxzl/certifySDK/index.js?version=1637738240746"></script><link href="//c.xsd.cdn.com.cn/git/teg-app-fe/passport-sdk-pc/static/css/yzh_sdk.css?v=1639451949482" rel="stylesheet"><style>.yzh-image-validate-wrapper {
  position: relative;
  width: 100%;
}

.yzh-image-validate-wrapper > input {
  border: 2px solid #ebebeb;
  width: 100%;
  height: 36px;
  padding-right: 110px;
  padding-left: 15px;
  box-sizing: border-box;
}

.yzh-image-validate-wrapper > input.error {
  border: 1px solid #ff552e;
}

.yzh-image-validate-wrapper > img {
  width: 80px;
  height: 32px;
  position: absolute;
  right: 4px;
  top: 2px;
  cursor: pointer;
}

.yzh-image-validate-wrapper > p {
  color: #ff552e;
  margin-top: 10px;
}

.yzh-img-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999991;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: #fff;
  width: auto;
  border-radius: 3px;
  overflow: hidden;
  backface-visibility: hidden;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-header {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-content {
  padding: 0 20px 20px;
  border-bottom: 1px solid #f3f3f3;
  width: 300px;
  overflow: auto;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer {
  padding: 10px 0 20px;
  white-space: nowrap;
}

.yzh-img-modal-wrapper > .yzh-img-modal-pnl > .yzh-img-modal-footer > div {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-weight: 500;
}
.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > .single-confirm-btn {
  width: 100%;
  color: #ff552e;
}

.yzh-img-modal-wrapper
  > .yzh-img-modal-pnl
  > .yzh-img-modal-footer
  > div.confirm-btn {
  color: #ff552e;
}
</style></head>
<body data-new-gr-c-s-check-loaded="14.1041.0" data-gr-ext-installed="">

<input type="hidden" id="pcIndex" value="">
<input type="hidden" id="orgId" value="63">
<input type="hidden" id="orgType" value="1">
<input type="hidden" id="bizType" value="1">
<input type="hidden" id="isXqtAdminOrg" value="false">
<input type="hidden" id="isDaxueOrg" value="false">
<input type="hidden" id="SystemEnv" value="Product">
<input type="hidden" id="loginType" value="">
<script>
var sourceURL = window.location.href;
var wmdaSource = '';
if (/source=(.+)/g.test(sourceURL)) {
  sourceURL.replace(/source=([^=/?&]+)/g, function (m, p1) {
    wmdaSource = p1;
  });
};
</script>
<script type="text/javascript">
var orgId = 63;

function getCookieFromCst(e) {
    if (0 < document.cookie.length)
        for (var t = document.cookie.split(";"), n = 0; n < t.length; n++) {
            var o = t[n].split("=");
            if (null != o && 2 == o.length)
                if (o[0] == e)
                    return decodeURI(o[1])
        }
    return null
}

function getCookieFrom58(e) {
    if (0 < document.cookie.length)
        for (var t = document.cookie.split(";"), n = 0; n < t.length; n++) {
            var o = t[n].split("=");
            if (null != o && 3 < o.length)
                if (o[0].trim() == e) {
                    var p = o[2].split("&");
                    if (p != null && p.length > 1) {
                        return decodeURI(p[0]);
                    }
                }
        }
    return null
}

function getUserId() {
    var e = null;
    try {
        var t = getCookieFromCst("uid");
        if (t)
            t.startsWith('"') && (t = t.substring(1, t.length - 1)),
                e = t;
        else {
            var n = getCookieFrom58("www58com");
            if (n) {
                e = n;
            }
        }
    } catch (e) {
        console.log(e)
    }
    return e
}
</script>
<script type="text/javascript">
window.WMDA_SDK_CONFIG = ({
api_v: 1,
sdk_v: 0.1,
mode: 'report',
appid: 13521983949622,
key: '44p8yyr1',
project_id: '11575086663731',
cookie_domain: document.domain,
cate_id: orgId,
page_extra: [{
  key: 'source',
    value: wmdaSource
}],
user_extra: [{
    key: '',
    value: ''
}],
channel: '',
getUserId: getUserId,
SPA_HASH: !0
});
</script>
<%- title %>
<div id="app"><div data-v-54ac40b2="" class="main_content"><div data-v-2173e1d4="" data-v-54ac40b2="" class="header-container"><div data-v-2173e1d4="" class="header_center_title"><!----> <div data-v-2173e1d4="" class="search_container"><span data-v-2173e1d4="" class="header_search_icon"></span> <input data-v-2173e1d4="" autocomplete="off" spellcheck="false" type="text" placeholder="请输入课程名称......" class="search_input"> <span data-v-2173e1d4="" class="search-btn">搜 索</span></div> <div data-v-2173e1d4="" class="header_login"><span data-v-2173e1d4="" style="display: none;">企业员工登录</span> <span data-v-2173e1d4="" class="line_divide" style="display: none;"></span> <span data-v-2173e1d4="" style="display: none;">个人身份登录</span></div> <div data-v-2173e1d4="" class="header_bottom_menu"><div data-v-2173e1d4="" class="header_tab"><ul data-v-2173e1d4=""><li data-v-2173e1d4="" class="active">首页</li><li data-v-2173e1d4="" class="">全部课程</li><li data-v-2173e1d4="" class="">我的课程</li><li data-v-2173e1d4="" class="">我的任务</li><li data-v-2173e1d4="" class="">我的考试</li></ul></div> <div data-v-2173e1d4="" class="header_qrcode"><!----> <!----> <span data-v-2173e1d4="" class="header_mobile_class">
                    手机看课
                    <div data-v-2173e1d4="" class="qrcode_mobile qr_code qr_code_one"><div data-v-2173e1d4="" class="changeIdentity"><div data-v-2173e1d4=""><h4 data-v-2173e1d4="" class="tabcolor">
                                    企业员工
                                    <span data-v-2173e1d4=""></span></h4></div> <!----> <div data-v-2173e1d4="" class="figure-caption"><figure data-v-2173e1d4=""><img data-v-2173e1d4="" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/img/qiye_new.6eca076.png" alt="易企课堂"> <figcaption data-v-2173e1d4="">Android 和 iOS看课</figcaption></figure></div></div></div></span></div></div></div> <!----></div> <div data-v-54ac40b2="" class="home_content_center"><div class="home_banner"><img src="https://wos.xsd.cdn.com.cn/cDazYxWcDHJ/picasso/fbr8r3he.png" alt="广告位" class="default_img"> <!----></div> <!---->  <!----></div> <div data-v-54ac40b2="" class="footer"><div class="footer_container"><!----> <div class="footer_connect"><!----> <ul><!----> <!----> <!----></ul></div></div></div> <div data-v-54ac40b2="" class="ivu-back-top" style="bottom: 160px; right: 30px;"><div data-v-54ac40b2="" class="back_top_main"><span data-v-54ac40b2=""></span>
        顶部
      </div></div></div></div>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/manifest_v20211213151927.js"></script>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/vendor_v20211213151927.js"></script>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/bic-University/university_front_pc/static/js/app_v20211213151927.js"></script><div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><div class="pswp__bg"></div> <div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div> <div class="pswp__item"></div> <div class="pswp__item"></div></div> <div class="pswp__ui pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter"></div> <button title="Close (Esc)" class="pswp__button pswp__button--close"></button> <button title="Share" class="pswp__button pswp__button--share"></button> <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button> <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button> <div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div> <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div> <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button> <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button> <div class="pswp__caption"><div class="pswp__caption__center"></div></div></div></div></div><div tabindex="-1" role="dialog" aria-hidden="true" class="pswp"><div class="pswp__bg"></div> <div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div> <div class="pswp__item"></div> <div class="pswp__item"></div></div> <div class="pswp__ui pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter"></div> <button title="Close (Esc)" class="pswp__button pswp__button--close"></button> <button title="Share" class="pswp__button pswp__button--share"></button> <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button> <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button> <div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div> <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div> <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button> <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button> <div class="pswp__caption"><div class="pswp__caption__center"></div></div></div></div></div>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-pc-ui/js/passport/challenge_pop_v20211124151808.js"></script>
<script type="text/javascript" src="//j1.xsd.cdn.com.cn/git/teg-app-fe/passport-sdk-pc/static/js/mobileLogin_v20211213111651.js"></script>


<div data-v-678ec943="" data-v-2220d64a="" data-transfer="true" class="empty-dialog-58 v-transfer-dom"><div class="ivu-modal-mask" style="z-index: 1002; display: none;"></div> <div class="ivu-modal-wrap ivu-modal-hidden" style="z-index: 1002;"><div class="ivu-modal" style="width: 520px; display: none;"><div class="ivu-modal-content"><!----> <!----> <div class="ivu-modal-body"><header data-v-678ec943="">图形验证码挑战</header> <div data-v-678ec943="" class="captcha-wrap"><div data-v-678ec943="" class="intput-wrapper"><div data-v-678ec943="" class="captcha-input ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text" style="height: 50px;"><!----> <!----> <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i> <input autocomplete="off" spellcheck="false" type="text" placeholder="请输入图形验证码" class="ivu-input ivu-input-default"> <!----></div></div> <div data-v-678ec943="" class="captcha-content"><img data-v-678ec943="" alt=""> <p data-v-678ec943="" class="captcha-content-btn">看不清，换一张</p></div></div> <p data-v-678ec943="" class="err-msg" style="display: none;">
图形验证码输入有误
</p> <button data-v-678ec943="" type="button" class="captcha-btn ivu-btn ivu-btn-error ivu-btn-long ivu-btn-large"><!----> <!----> <span>确定</span></button></div> <div class="ivu-modal-footer"><button type="button" class="ivu-btn ivu-btn-text"><!----> <!----> <span>取消</span></button> <button type="button" class="ivu-btn ivu-btn-primary"><!----> <!----> <span>确定</span></button></div></div></div></div></div><div data-v-ce8d4b20="" data-v-2220d64a="" data-transfer="true" class="empty-dialog-58 v-transfer-dom"><div class="ivu-modal-mask" style="z-index: 1003; display: none;"></div> <div class="ivu-modal-wrap ivu-modal-hidden" style="z-index: 1003;"><div class="ivu-modal" style="width: 520px; display: none;"><div class="ivu-modal-content"><!----> <!----> <div class="ivu-modal-body"><header data-v-ce8d4b20="">短信验证码挑战</header> <div data-v-ce8d4b20="" class="challenge-wrap"><div data-v-ce8d4b20="" class="ivu-input-wrapper ivu-input-wrapper-default ivu-input-type-text"><!----> <!----> <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i> <input autocomplete="off" spellcheck="false" type="text" placeholder="请输入短信验证码" maxlength="6" class="ivu-input ivu-input-default"> <!----></div> <div data-v-ce8d4b20="" class="challenge-altive-code">
  获取验证码
</div></div> <p data-v-ce8d4b20="" class="err-msg" style="display: none;">
短信验证码输入有误
</p> <button data-v-ce8d4b20="" type="button" class="challenge-btn ivu-btn ivu-btn-error ivu-btn-long ivu-btn-large"><!----> <!----> <span>确定</span></button></div> <div class="ivu-modal-footer"><button type="button" class="ivu-btn ivu-btn-text"><!----> <!----> <span>取消</span></button> <button type="button" class="ivu-btn ivu-btn-primary"><!----> <!----> <span>确定</span></button></div></div></div></div></div><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></body></html>